<% layout("layout/boilerplate") %>
<%- include("../partials/flash") %> 
<div class="beer-info">
  <div class="row beer-info-img">
    <div class="col-md-6 col-sm-12">
      <img class="beer-logo img-fluid" src="<%= beer.image%> " alt="img-logo" />
    </div>
  <div class="col-md-6 col-sm-12">
      <div class="beer-info beer-details">
        <h1><%= beer.name %></h1>
        <h4>Style: <%= beer.style %></h4>
        <h4>ABV: <%= beer.abv %> %</h4>
        <h4 class="card-text">Produced by <a class="brewery-name" href="/breweries/<%= beer.brewery._id %> "
          ><%= beer.brewery.name %></h4></a>
        <p><%= beer.description %></p>
      </div>
  </div>
</div>
<% if (currentUser) { %>
  <div class="edit-delete-buttons">
    <a href="/beers/<%= beer._id %>/edit"
      ><button class="btn btn-primary">Edit Beer</button></a
    >
    <form action="/beers/<%= beer._id %>/delete?_method=DELETE" method="POST">
      <button class="btn btn-danger" type="submit">Delete Beer</button>
    </form>
  </div>
<% } %>
  <hr>
  <h2>Reviews</h2>
  <div class="container">
    <div class="row">
      <% for( let review of beer.reviews ) { %>
        <div class="card col-6 beer-review" style="width: 18rem;">
          <div class="card-body">
            <p class="starability-result" data-rating="<%= review.rating %>"></p>
            <p class="card-text"><%= review.review %></p>
            <p class="card-text"><%= review.user  %> </p>
            <% if (currentUser && review.user.equals(currentUser._id)) {%> 
            <form action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
              <input type="hidden" value="<%= beer._id %>" name="beerId">
              <button class="btn btn-sm btn-danger">X</button>
            </form>
            <% } %> 
          </div>
        </div>
      <% } %>
    </div>
  </div>
  <hr>
  <% if (currentUser) { %>
    <h2>Leave a review</h2>
    <form action="/beers/<%= beer._id %>/reviews" method="POST">
      <div class="rating">
        <fieldset class="starability-basic">
          <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
    
          <input type="radio" id="rate1" name="rating" value="1" />
          <label for="rate1">1 star.</label>
    
          <input type="radio" id="rate2" name="rating" value="2" />
          <label for="rate2">2 stars.</label>
    
          <input type="radio" id="rate3" name="rating" value="3" />
          <label for="rate3">3 stars.</label>
    
          <input type="radio" id="rate4" name="rating" value="4" />
          <label for="rate4">4 stars.</label>
    
          <input type="radio" id="rate5" name="rating" value="5" />
          <label for="rate5">5 stars.</label>
    
          <span class="starability-focus-ring"></span>
        </fieldset>
    </div>
      <div class="form-item textarea-item-beer-review col-6">
        <textarea name="review" id="review" cols="50" rows="150" onInput="this.parentNode.dataset.replicatedValue = this.value" required></textarea>
        <label class="form-label" for="review"><span class="form-item-name">Review</span></label>
      </div>
      <button class="btn btn-primary">Submit</button>
    </form>
  <% } %>
</div>
