<% layout("layout/boilerplate") %>
<!-- Display Function to display the beers in sections -->
<% displayBeer = function(style) { %>
    <% for( let beer of beers ) { %>
            <% if (beer.style === style) { %>
            <div class="col-lg-3 col-md-6">
              <div class="card brewery-card">
                <img
                  src="<%= beer.image %> "
                  class="card-img-top brewery-logo img-fluid"
                  alt="logo-img"
                />
                <div class="card-body beer-card">
                  <h5 class="card-title beer-name"><%= beer.name %></h5>
                  <p class="card-text"><%= beer.style %> </p>
                  <p class="card-text"><%= beer.abv %> %</p>
                  <a href="/breweries/<%= beer.brewery._id %> "><p class="card-text"></p><%= beer.brewery.name %></p></a>
                  
                  <a href="beers/<%= beer._id%>" class="btn btn-dark"
                    >View More</a
                  >
                </div>
              </div>
            </div>
            <% } %> 
      <% } %>
<% } %> 
<!-- END OF FUNCTION -->

<h1 class="main-heading">List of Beers</h1>
<%- include("../partials/flash") %>
<div class="beer-type-index">
<% styles.forEach((style) => { %>
<a href="#<%= style %>"><%= style %> </a>
<% }) %>  
</div>

<div class="container">
  <div class="row">
      <% for (let style of styles) {%> 
      <h3 id="<%= style %>"><%= style %> </h3>
      <hr>
      <% displayBeer(style) %> 
      <% } %>  
  </div>
</div>
